<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="王平波">
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style-icon.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/plug-in/wangEditor.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/H-ui.reset.css" />
  <link rel="stylesheet" type="text/css" href="/lib/css/slide.css" />
  <link rel="stylesheet" type="text/css" href="/lib/css/imagezoom.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/init.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
</head>
<body>
  <div id="header" class="w">
    <div id="top" class="aw fbox">
      <div class="fl logo">这里是LOGO</div>
      <div class="fr info">我是最棒的</div>
    </div>
    <div id="nav" class="nav">
      <ul class="aw as">
        <li><a href="/" class="home">首页</a></li>
        <li>
          <a href="#/about">关于我们</a>
          <ul>
            
          </ul>
        </li>
        <li><a href="#/news">公司新闻</a></li>
        <li><a href="#/product">公司产品</a></li>
        <li><a href="#/contact">联系我们</a></li>
      </ul>
    </div>
  </div>

  <div id="view"></div>

  <div id="foot" class=""></div>

  <script type="text/javascript" src="/lib/js/jQuery_v2.1.3.js"></script>
  <script type="text/javascript" src="/lib/js/route.js"></script>
  <script type="text/javascript" src="/lib/js/jquery.imagezoom.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js"></script>
  <script type="text/javascript" src="/static/js/fncm/fn-info.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</body>
</html>