<div id="slideshow" class="aw slide">
  <div class='hd'>
    <a href="javascript:void(0)" class="left_ck"> < </a>
    <a href="javascript:void(0)" class="right_ck"> > </a> 
  </div>
  <div class='slide_cc'>
    <ul>
      <li><a href="#"><img src="/static/img/banner1.jpg"></a></li>
      <li><a href="#"><img src="/static/img/banner2.jpg"></a></li>
      <li><a href="#"><img src="/static/img/banner3.jpg"></a></li>
    </ul>
    <div class="clr"></div>
  </div>
  <div class="sd_nav">
    <ul></ul>
  </div>
</div>

<div id="main" class=""></div>