<div class="aw rebox">
  <div id="box_left" class="box-left">
    <h3 class="ttl">产品中心</h3>
    <ul class="leftnav">
      
    </ul>
  </div>
  <div id="box_right" class="box-right">
    <div class="leftap imgs-brief">
    	<div id="imgs" class="fl imgs zoombox">
    		<div class="tb-booth tb-pic tb-s310">
    			<a href="images/01.jpg"><img src="/images/defulte.jpg" alt="默认图片" rel="/images/defulte.jpg" class="jqzoom" /></a>
    		</div>

    		<ul class="tb-thumb" id="thumblist">
    		</ul>
    	</div>

    	<div id="brief" class="fl brief">
    		<h3 class="ttl"></h3>
    		<p class="describe"></p>
    	</div>
    	<div class="clr"></div>
    </div>
    <div id="productinfos" class="leftap pinfos">
    	<h2 class="ttl">产品详细信息</h2>
    	<div class="cc"></div>
    </div>
  </div>
</div>