<div class="formBox">
    <div class="dataChunk">
        <p>标题</p>
        <input class="ebox etext" type="text" name="name" ng-model="contentData.name" />
    </div>
    <div class="dataChunk">
        <p>简介</p>
        <textarea class="ebox etextarea" type="text" name="describe" ng-model="contentData.describe" style="height:80px;"></textarea>
    </div>
    <div class="dataChunk">
        <p>内容</p>
        <textarea id="editTextarea" class="ebox etextarea" type="text" name="details" ng-model="contentData.details"></textarea>
    </div>
    <div class="btns">
        <span class="btn_0" ng-click="cBtn()">提交</span>
        <span class="btn_0" ng-click="cancelTc()">取消</span>
    </div>
</div>
<script type="text/javascript" src='/static/js/plug-in/wangEditor.min.js'></script>
<!-- <script type="text/javascript" src="/static/js/fncm/file.js"></script> -->
<script type="text/javascript">
    $(function(){
        var editor = $('#editTextarea').wangEditor({
            uploadUrl: '/fs/fsupload?isOtherImg=true&imgPath=other'
        });
    });
</script>